*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
h2 img{
    width: 60px;
}
h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    padding: 16px 50px;
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 45px;
}
ul li{
    font-size: 18px;
    list-style: none;
    user-select: none;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked-10.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(checked.jpeg);
}
ul li span{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}